* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
}

.image-container {
  width: 40%;
  background-image: url(./assets/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.content div {
  flex: 1;
}

.section-one {
  background: lightgrey;
  padding: 25px;
}

.section-two {
  background: lightcyan;
  padding: 25px;
}

.section-three {
  background: lightblue;
}

.definition {
  text-align: center;
  padding-top: 55px;
}

form {
  display: flex;
}

.left-form {
  display: flex;
  flex-direction: column;
}

.right-form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  position: absolute;
  top: 580px;
  left: 650px;
}

.login {
  margin-top: 75px;
  margin-left: 25px;
}
